*.pyc
.idea/
__pycache__/
*.csv
input
output
images
files
build
project.egg-info
.xlsx
*.zip
*.jpg
*.jpeg
*.JPEG
*.PNG
*.png
*.xlsl
*.json
*.jl
*.pdf
*.mp4
*.xml
*.xlsx
test.py
*.exe
*.env
*.log
full
media
logs
drivers
backup_scripts
/venv/